<h2>Products</h2>

<div class="card">
  <div class="card-head">Lorem ipsum - product 1</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar lorem ut gravida luctus. Suspendisse lacinia mi ut mauris ultrices, vitae laoreet eros gravida. Pellentesque sit amet posuere elit, at mollis est. Aliquam pharetra enim quis ultricies placerat. Mauris vulputate ipsum nunc, nec congue leo gravida nec. Pellentesque et augue in quam rutrum eleifend nec ut est. Etiam cursus malesuada sem, at facilisis libero semper at. Pellentesque sit amet egestas felis. Proin ullamcorper dolor in venenatis bibendum. In maximus, risus non dignissim maximus, massa lectus interdum enim, at vehicula libero dui non augue. 
  </div>
</div>
<div class="card">
  <div class="card-head">Lorem ipsum - product 2</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar lorem ut gravida luctus. Suspendisse lacinia mi ut mauris ultrices, vitae laoreet eros gravida. Pellentesque sit amet posuere elit, at mollis est. Aliquam pharetra enim quis ultricies placerat. Mauris vulputate ipsum nunc, nec congue leo gravida nec. Pellentesque et augue in quam rutrum eleifend nec ut est. Etiam cursus malesuada sem, at facilisis libero semper at. Pellentesque sit amet egestas felis. Proin ullamcorper dolor in venenatis bibendum. In maximus, risus non dignissim maximus, massa lectus interdum enim, at vehicula libero dui non augue. 
  </div>
</div>